.health-gauge-background {
    position: absolute;
    top: 56px;
    left: 20px;
    width: 220px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}

.health-gauge-fill {
    width: 100%;
    height: 100%;
    background-color: rgb(60, 200, 60);
}
